.App {
  text-align: center;
}

.App-SignIn {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #DEEBEF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #041E77;
}

.User-Dash {
  height: 100vh;
  background-color: #EFF2F4;
  color: #041E77;
  flex-direction: column;
}

.test {
  background-color: #D3F8FB;
  color: #000;
  position: absolute;
  width: 1020px;
  height: 210px;
  left: 345px;
  top: 165px;
  align-items: right;
}

.test1 {
  background-color: #D3F8FB;
  color: #000;
  position: absolute;
  width: 1020px;
  height: 210px;
  left: 345px;
  top: 600px;
  align-items: center;
}

.photo {
  height: 50px;
  width: 50px;

}

.photo2 {
  height: 50vh;
  width: 70vh;
  position: absolute;
  padding-left: 150px;
}

.sign-in-class {
  text-align: right;
}

.sign-in {
  height: 100vh;
  background: linear-gradient(
    to right,
    #E6F6FF 0%,
    #E6F6FF 50%,
    #fff 50%,
    #fff 100%
  );
  color: #041E77;
}

.testing {
  background-color: #000
}
.App-header-2 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-page > * {
  color: #041E77;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.btn-pill {
  background: #ffffff;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  color: #041E77;
  padding: 12px 40px;
}

.primary {
  color: white;
  background: #1EC1CB;
}

.secondary {
  color: white;
  background: #041E77;
}

.lp-header {
  background: white;
  padding: 50px 80px;
}

.lp-header-logo {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo-text {
  line-height: 30px;
  margin: 0px 8px;
}

.hero {
  background: white;
  padding: 0px 100px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
}

.hero h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
}

.hero-btn-container {
  padding: 18px 0px;
}

.right-price-right-project {
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.right-price-right-project h1 {
  font-size: 48px;
}

.explore {
  background: #E6F6FF;
  color: #041E77;
  padding: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore h1 {
  font-size: 55px;
  margin-bottom: 24px;
}

.explore h2 {
  font-size: 43px;
  margin-bottom: 24px;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.explore-contractor-panel {
  background: white;
  color: #041E77;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
}

.explore-category-button-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 24px;
}

.explore-category-button {
  font-size: 20px;
  margin-left: 24px;
  margin-right: 24px;
  width: 145px;
  height: 55px;
  padding: 12px;
  text-align: center;
}

.explore-category-button.selected {
  background: #041E77;
  color: white;
  border-radius: 6px;
}

.explore-contractor-panel-header {
  margin-bottom: 16px;
}

.explore-contractor-panel-name {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 28px;
  font-weight: 500;
}

.explore-contractor-panel-title {
  font-size: 18px;
}

.explore-contractor-panel-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.explore-contractor-panel-images > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.become-pro {
  padding: 146px 60px;
  background: #18285F;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  font-size: 18px;
}

.become-pro > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.become-pro > div > * {
  margin-bottom: 30px
}

.become-pro h1 {
  font-size: 48px;
  line-height: 58px;
}

.footer {
  background: #E6F6FF;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  font-size: 14px;
  color: #041E77;
  line-height: 35px;
  letter-spacing: 0.05em;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h1 {
  font-size: 42px;
}

.footer a {
  color: #1EC1CB;
}